
@{
    ViewData["Title"] = "Index";
}

<!-- main started -->

<main>
    <!-- who-are we section started -->
    <section id="who-are-we">
        <div class="who-are-we">
            <div class="who-are-we-inner">
                <div class="who-are-we-title">
                    <p>Who Are we?</p>
                </div>
                <div class="who-are-we-info">
                    <div class="info-item">
                        <p>
                            lorem ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the
                            mbled it to
                            make a type specimen book. It h dummy text ever since the 1500s, when an unknown printer
                            took a galley of type and
                            scrambled it ook. It h dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled its
                            to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting,
                            remaining essentiallyas survived not only five centuries, but also the leap into
                            electronic typesetting, remaining
                            essentially unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker
                            including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <div class="info-item">
                        <img src="./assets/img/dog kitten.jpg" alt="animals">
                    </div>
                </div>
                <div class="info-item info-item-center">
                    <p>
                        lorem ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                        Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        y text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled its
                        to make a type specimen book. It has survived not only five centuries, but also the leap
                        into electronic typesetting,
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to
                        make a type specimen book. It h dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and
                        scrambled it ook. It h dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled its
                        to make a type specimen book. It has survived not only five centuries, but also the leap
                        into electronic typesetting,
                        remaining essentiallyas survived not only five centuries, but also the leap into
                        electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset
                        sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker
                        including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class="about-us-slide">
                    <div class="slider-about-us">
                        <div class="slider-about-us-item">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- who-are we section ended -->
</main>
<!-- main ended -->
