
@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="posts">
        <div class="posts">
            <div class="posts-inner">



              
                    <div class="post-card">

                        <div class="post-img">
                           

                            <img src="~/assets/img/baby-dog-yellow.jpg" alt="image">

                        </div>
                        <div class="title-icons">



                            <p class="post-title">MyCant</p>
                            <div class="post-icons">
                                <div class="edit">
                                    <a href="#">Edit Post</a>
                                    <a href="#" class="text-danger">Delete Post</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>
                               messagenjdbjbv
                            </p>
                        </div>
                    </div>

                

            </div>
        </div>
    </section>
</main>

